<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tokobuku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/config_network"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TokoBuku"
        android:usesCleartextTraffic="true">
        <activity android:name=".Bantuan"></activity>
        <activity android:name=".Tentang" />
        <activity android:name=".UbahProfile" />
        <activity android:name=".UbahPassword" />
        <activity android:name=".DetailRiwayatActivity" />
        <activity android:name=".SuksesActivity" />
        <activity android:name=".TambahAlamat" />
        <activity android:name=".PembayaranActivity" />
        <activity android:name=".ListAlamat" />
        <activity android:name=".PengirimanActivity" />
        <activity android:name=".AllProdukActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_baseline_notifications_active_24" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>